@tailwind base;
@tailwind components;
@tailwind utilities;

/* ajout des classes que tailwind n'affiche pas directement à cause des mes variables qui sont dynamique et donc ne sont pas prise en compte à la création des classes créer dans le ThèmeContext.js */

#container-card-in:hover#container-card-in > * > img {
  transform: scale(1.2);
  transition: 0.3s ease-in-out all;
}
#container-card-out:hover#container-card-out > * > img {
  transform: scale(0.8);
  transition: 0.3s ease-in-out all;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #000 !important;
}

main {
  flex-grow: 1;
}

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
}

.grid-area {
  grid-template-areas:
    "prev prev prev prev prev prev"
    "number number number number number number "
    "number number number number number number "
    "next next next next next next";
}
.prev {
  grid-area: prev;
}
.next {
  grid-area: next;
}
.number {
  grid-area: number;
}
@media (min-width: 640px) {
  .grid-area {
    grid-template-areas: none;
  }
  .prev {
    grid-area: auto;
  }
  .next {
    grid-area: auto;
  }
  .number {
    grid-area: auto;
  }
}

.bg-ov {
  background-color: rgba(97, 97, 97, 0.9);
}


html,body{
  width:100%;
  overflow-x:hidden;
}
